extends general.pug
block css
  link(rel="stylesheet", href="/css/home.css")
block content
  .body
    .row.body
      .col-2.col-s-3.menu
        ul
          li.drop-down(style='width: 100%;')
            a(href='/search?q=all&type=shoes') Shoes
            ul
              li
                a(href='/search?q=newest&type=shoes') Newest
              li
                a(href='/search?q=football&type=shoes') Football
              li
                a(href='/search?q=running&type=shoes') Running
              li
                a(href='/search?q=basketball&type=shoes') Basketball
              li
                a(href='/search?q=gym&type=shoes') Gym &amp; Training
          li.drop-down
            a(href='/search?q=all&type=clothing') Clothes
            ul
              li
                a(href='/search?q=top&type=clothing') Top &amp; T-Shirts
              li
                a(href='/search?q=hoodie&type=clothing') Hoodies
              li
                a(href='/search?q=jacket&type=clothing') Jacket
              li
                a(href='/search?q=shorts&type=clothing') Shorts
              li
                a(href='/search?q=trousers&type=clothing') Trousers
              li
                a(href='/search?q=cap&type=clothing') Caps
              li
                a(href='/search?q=sock&type=clothing') Socks
              li
                a(href='/search?q=bag&type=clothing') Bags
          li.drop-down
            a(href='/search?q=all') Sports
            ul
              li
                a(href='/search?q=football') Football
              li
                a(href='/search?q=basketball') Basketball
              li
                a(href='/search?q=running') Running
              li
                a(href='/search?q=tennis') Tennis
              li
                a(href='/search?q=golf') Golf
              li
                a(href='/search?q=yoga') Yoga
          li.drop-down
            a(href='/search?q=all') Brands
            ul
              li
                a(href='/search?q=nike') Nike
              li
                a(href='/search?q=adidas') Adidas
              li
                a(href='/search?q=vietnam') Vietnam
      .col-10.col-s-12.container
        if shoes
          h1(style="text-align:center;") New Shoes
          .list
            -  for(x = 0 ; x < 5 ; x++)
                a.item(href="/product/shoes/"+shoes[x].id)
                  img(src=shoes[x].avatar, alt='Product', style='width: 100%;')
                  .info
                    h4 #{shoes[x].productname}
                    if shoes[x].type[1]
                      p.type  #{shoes[x].type[1]}
                    else
                      p.type #{shoes[x].type[0]}
                    span.price #{shoes[x].price}
      .col-10.col-s-12.container_2
        if clothes
          h1(style="text-align:center;") New Clothes
          .list
            -  for(x = 0 ; x < 5 ; x++)
                a.item(href="/product/clothes/"+clothes[x].id)
                  img(src=clothes[x].avatar, alt='Product', style='width: 100%;')
                  .info
                    h4 #{clothes[x].productname}
                    if clothes[x].type[1]
                      p.type  #{clothes[x].type[1]}
                    else
                      p.type #{clothes[x].type[0]}
                    span.price #{clothes[x].price}
block script
  script(src="/script/product/price_format2.js")